/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip {
  width: 1000px;
  margin: auto;
  text-align: center;
  border: 1px solid rgb(217, 217, 217);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
